<% include header %>
  <div class="jumbotron">
    <h2>Here is a "<%= type %>" name
    <div class="btn-group">
  	<button class="btn btn-default disabled" > Share: </button>
  	<a class="btn btn-default" target="_blank" href="/name/<%= id %>" title="permalink" rel="this"><i class="fa fa-share fa-lg"></i></a>
</h2>

<div class="row">

<h1><%= name%></h1>

<a href="#" class="btn btn-lg btn-info pick" rel="<%= type %>">get another <%= type %> name </a>
</div>
<div class="clearfix clear"></div> 
 

<% include footer %>
